html,
body {
  margin: 0px;
  height: 100%;
}

.main-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgb(207, 207, 207);
  color: white;
}

.main-container > div {
  width: fit-content;
  block-size: fit-content;
}

#navbar-home {
  width: 125px;
  height: 80px;
  object-fit: none;
  object-position: -20px -15px;
  transform: scale(75%);
}
#navbar-home:hover {
  animation: home 0.4s infinite;
  animation-timing-function: steps(1, end);
}
#navbar-works {
  width: 155px;
  height: 80px;
  object-fit: none;
  object-position: -170px -15px;
  transform: scale(75%);
}
#navbar-works:hover {
  animation: works 0.4s infinite;
  animation-timing-function: steps(1, end);
}
#navbar-contacts {
  width: 175px;
  height: 80px;
  object-fit: none;
  object-position: -335px -15px;
  transform: scale(75%);
}
#navbar-contacts:hover {
  animation: contacts 0.4s infinite;
  animation-timing-function: steps(1, end);
}
#navbar-scroll {
  width: 145px;
  height: 80px;
  object-fit: none;
  object-position: -515px -15px;
  transform: scale(75%);
}
#navbar-scroll:hover {
  animation: scroll 0.4s infinite;
  animation-timing-function: steps(1, end);
}

@keyframes home {
  0% { object-position: -20px -90px; }
  33% { object-position: -20px -160px; }
  66% { object-position: -20px -235px; }
  100% { object-position: -20px -15px; }
}
@keyframes works {
  0% { object-position: -170px -90px; }
  33% { object-position: -170px -165px; }
  66% { object-position: -170px -235px; }
  100% { object-position: -170px -15px; }
}
@keyframes contacts {
  0% { object-position: -335px -90px; }
  33% { object-position: -335px -170px; }
  66% { object-position: -335px -240px; }
  100% { object-position: -335px -15px; }
}
@keyframes scroll {
  0% { object-position: -515px -90px; }
  33% { object-position: -515px -165px; }
  66% { object-position: -515px -235px; }
  100% { object-position: -515px -15px; }
}