html,
body {
  margin: 0px;
  height: 100%;
}

.main-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgb(207, 207, 207);
  color: white;
}

.main-container > div {
  width: fit-content;
  block-size: fit-content;
}